In [1]:
import pandas as pd
import json
from datetime import datetime

In [2]:
df = pd.read_csv("./events.csv") ## reading the file
df["data"][3]

'{"event": "user", "timestamp": 1654406955.9231513, "metadata": {"model_id": "83b2411e893d47c3b3fe19c29463816d"}, "text": "hi", "parse_data": {"intent": {"name": "greet", "confidence": 0.9999991655349731}, "entities": [], "text": "hi", "message_id": "7953bfaaa43f498f91b1c33f72b4988a", "metadata": {}, "text_tokens": [[0, 2]], "intent_ranking": [{"name": "greet", "confidence": 0.9999991655349731}, {"name": "bot_challenge", "confidence": 3.0050364330236334e-07}, {"name": "support_team", "confidence": 2.822103795097064e-07}, {"name": "supply_contact_info", "confidence": 7.298422843859953e-08}, {"name": "apply", "confidence": 7.232116416844292e-08}, {"name": "goodbye", "confidence": 5.2890207768996333e-08}], "response_selector": {"all_retrieval_intents": [], "default": {"response": {"responses": null, "confidence": 0.0, "intent_response_key": null, "utter_action": "utter_None"}, "ranking": []}}}, "input_channel": "cmdline", "message_id": "7953bfaaa43f498f91b1c33f72b4988a"}'

In [3]:
df.head()

,id,sender_id,type_name,timestamp,intent_name,action_name,data
0,175,f15644ec49654efbaa4312f2ea453be2,action,1.654407e+09,NaN,action_session_start,"{""event"": ""action"", ""timestamp"": 1654406955.49..."
1,176,f15644ec49654efbaa4312f2ea453be2,session_started,1.654407e+09,NaN,NaN,"{""event"": ""session_started"", ""timestamp"": 1654..."
2,177,f15644ec49654efbaa4312f2ea453be2,action,1.654407e+09,NaN,action_listen,"{""event"": ""action"", ""timestamp"": 1654406955.49..."
3,178,f15644ec49654efbaa4312f2ea453be2,user,1.654407e+09,greet,NaN,"{""event"": ""user"", ""timestamp"": 1654406955.9231..."
4,179,f15644ec49654efbaa4312f2ea453be2,user_featurization,1.654407e+09,NaN,NaN,"{""event"": ""user_featurization"", ""timestamp"": 1..."

In [4]:
df["data"] = df.data.apply(lambda x: json.loads(x)) ## converting string in dict to dict
df["timestamp"]= df["timestamp"].apply(lambda x : datetime.fromtimestamp(x).ctime()) ## timestamp to datetime

def retrive_txt(c):
    try:
        return c["text"]
    except:
        return "NaN"

df["text"]= df["data"].apply(retrive_txt)
final_df = df[df["text"] != "NaN"]
final_df = final_df.loc[:, final_df.columns != "data"]
final_df

,id,sender_id,type_name,timestamp,intent_name,action_name,text
3,178,f15644ec49654efbaa4312f2ea453be2,user,Sun Jun 5 10:59:15 2022,greet,NaN,hi
6,181,f15644ec49654efbaa4312f2ea453be2,bot,Sun Jun 5 10:59:16 2022,NaN,NaN,Hello
8,183,f15644ec49654efbaa4312f2ea453be2,bot,Sun Jun 5 10:59:16 2022,NaN,NaN,May i know your name and email
10,185,f15644ec49654efbaa4312f2ea453be2,user,Sun Jun 5 10:59:35 2022,supply_contact_info,NaN,Dave harley@davidson.com
15,190,f15644ec49654efbaa4312f2ea453be2,bot,Sun Jun 5 10:59:35 2022,NaN,NaN,Thank you Dave for your response and write you...
17,192,f15644ec49654efbaa4312f2ea453be2,user,Sun Jun 5 10:59:41 2022,bot_challenge,NaN,are you a bot
20,195,f15644ec49654efbaa4312f2ea453be2,bot,Sun Jun 5 10:59:41 2022,NaN,NaN,"I am a bot, powered by Ashish."
22,197,f15644ec49654efbaa4312f2ea453be2,user,Sun Jun 5 10:59:46 2022,apply,NaN,about author
25,200,f15644ec49654efbaa4312f2ea453be2,bot,Sun Jun 5 10:59:46 2022,NaN,NaN,To read more please visit 'ashishlotake.pages....
27,202,f15644ec49654efbaa4312f2ea453be2,user,Sun Jun 5 10:59:49 2022,goodbye,NaN,bye
30,205,f15644ec49654efbaa4312f2ea453be2,bot,Sun Jun 5 10:59:49 2022,NaN,NaN,Bye